{% extends 'hod_template/base_template.html' %}
{% block page_tile %}
Add Student
{% endblock page_tile %}
{% load static %}

{% block main_content %}
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <!-- general form elements -->
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Add Student</h3>
          </div>
          <!-- /.card-header -->
          <!-- form start -->
          <form role="form" action="/add_student_save" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="card-body">

              {{ form }}
            </div>
            <!-- /.card -->
          </div>
          <!-- /.card-body -->
          
          <div class="card-footer">
          <button type="submit" class="btn btn-primary btn-block">Add Student</button>
          </div>
          </form>


        </div>

</section>
{% endblock main_content %}